<?xml version="1.0" encoding="utf-8"?>

<robot name="gelstereo">
        <link name="world">
        </link>

        <joint name="world_to_frame" type="fixed">
                <parent link="world"/>
                <child link="frame"/>
                <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </joint>

        <link name="frame">
		<visual>
                        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                        <geometry>
				<mesh filename="../meshes/visual/frame_v0.2.stl" scale="0.001 0.001 0.001"/>
                        </geometry>
                </visual>
                <collision>
                        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                        <geometry>
				<mesh filename="../meshes/collision/frame_v0.2.stl" scale="0.001 0.001 0.001"/>
                        </geometry>
                </collision>
                <!-- <inertial>
                        <origin rpy="0.0 0.0 0.0" xyz="-5.76186e-3 -0.78412e-3 0.00005e-3"/>
                        <mass value="0.00165412"/>
                        <inertia ixx="0.01956e-6" iyy="0.08665e-6" izz="0.08404e-6" ixy="0.0021e-6" ixz="0.0" iyz="0.0"/>
                </inertial> -->
	</link>

	<joint name="frame_to_gel" type="fixed">
		<parent link="frame"/>
		<child link="gel"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
	</joint>

        <link name="gel">
                <fem>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<density value="1000"/>
			<youngs value="1e5"/>
			<poissons value="0.3223"/>
			<damping value="0.0"/>
			<attachDistance value="1.0e-5"/>
                        <!-- <attachDistance value="0.01"/> -->
			<tetmesh filename="../meshes/collision/gel_0.2.tet"/>
                        <scale value="0.001"/>
		</fem>
        </link>
</robot>